@import "../styles/colors";
@import "../styles/media";

$padding: 16px;

.overviewWrapper {
    .infoGrid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: $padding;
        gap: 0.5 * $padding;
        width: 100%;
        height: 100%;

        > * {
            padding: $padding;
            background-color: $dark;

            > h3 {
                text-align: center;
            }
        }

        .difficulty {
            position: relative;

            > div {
                position: absolute;
                left: 10%;
                top: 50%;

                width: 80%;
            }
        }

        @include desktop {
            .demoVid {
                grid-column: span 3;
                grid-row: span 2;
            }

            .overview {
                grid-column: span 3;
            }
        
            .prerequisites {
                grid-column: span 2;
            }
        
            .techStack {
                grid-column: span 2;
            }
        
            .difficulty {
                grid-column: span 3;
        
                > h4 {
                    margin-bottom: 12px;
                }
            }
        
            .timeEstimate {
                grid-column: span 2;
            }
        }

        @include mobile {
            .demoVid {
                grid-column: span 6;
                grid-row: 2;
            }

            .overview {
                grid-column: span 6;
                grid-row: 1;
            }
        
            .prerequisites {
                grid-column: span 6;
            }
        
            .techStack {
                grid-column: span 6;
            }
        
            .difficulty {
                grid-column: span 6;
            }
        
            .timeEstimate {
                grid-column: span 6;
            }
        }

        .demoVid {
            position: relative;
        }

        .demoVid,
        .demoVid > video {
            max-width: 100%;
            height: 100%;
            width: 100%;

            a {
                position: absolute;
                top: $padding;
                left: $padding;
                width: 2 * $padding;
                height: 2 * $padding;
                z-index: 1;
                background-color: $background;
                border-radius: 20%;

                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .prerequisites,
        .techStack,
        .timeEstimate {
            ul {
                list-style: none;
                width: max-content;
                margin: auto;

                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    svg {
                        margin-right: $padding;
                    }
                }
            }
        }
    }
}
