@import "../styles/colors";
@import "../styles/media";

.projectIcons {
    display: flex;
    flex-direction: row;

    list-style: none;

    margin: 0 20px 20px 20px;

    li {
        padding: 0px 8px 0px 8px;
        margin: 0px 4px 4px 0px;

        width: max-content;
        height: min-content;
        line-height: 1.25rem;
        
        font-size: 10pt;

        box-shadow: 0 0 1px $dark;

        transform: skewX(-20deg);

        &.blue { background-color: $tag1; }
        &.pink { background-color: $tag2; }
        &.purple { background-color: $tag3; }
        &.red { background-color: $tag4; }
        &.green { background-color: $tag5; }

        p {
            transform: skew(20deg);
        }
    }
}