{% extends "base.html" %}

{% block heading %}
About Me And This Site 
{% endblock %}

{% block page %}
<h2>
	Who am I?
</h2>

<p>
	I'm a student studying a Bachelor of Science (Computer Science/Data Science) at <a href="https://www.uwa.edu.au/home">UWA</a> who has a passion for all things computer science.
	<br>
	<br> I've been exploring side-projects for the past two years to suplement and spearhead my education. Most of my projects are documented on my <a href="https://github.com/Arithmetic-Overflow">Github</a> and here for anyone who's interested in reading up on my misadventures or giving my projects a try for themselves.
</p>

<h2>
	What is this site for?
</h2>

<p>
	I've always wanted to deploy and maintain my own website, even if it's just something small like a blog or place to showcase what I'm doing.
	<br>
	<br> Everything you see is built using <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a> (for the backend) and <a href="https://jinja.palletsprojects.com/en/3.0.x/">Jinja</a> templating (for the front-end. And it's all self-hosted on my <a href="https://www.raspberrypi.org/">Raspberry Pi</a>.
	<br>
	<br> Though self-hosting isn't the most reliable or robust solution it means that every problem I run into I have to solve myself and gives me first-hand experience and knowledge about web-development.
	<br>
	<br> Apart from the process of learning through creating and hosting the site I'm going to make it home to little posts about side projects that I'm doing so that others don't have to struggle as hard to solve problems have already been solved by me.
	<br>
	<br> If you're interested in checking out these problems or giving them a go yourself then give the <a href="/projects">Projects</a> page a look.
</p>
{% endblock %}