{% extends "base.html" %}

{% block heading %}
About Me And This Site 
{% endblock %}

{% block page %}
<h2>
	Who am I?
</h2>

<p>
	I'm a second year student doing a Bachelor of Science (Computer Science/Data Science) at <a href="https://www.uwa.edu.au/home">UWA</a> who has a passion for all things computer science.
	<br>
	<br> I've been exploring little side-projects for the past two years to suplement and spearhead my education. Most of my projects should be documented on my <a href="https://github.com/Arithmetic-Overflow">Github</a> for anyone who's interested in reading up on it or giving it a try themselves.
</p>

<h2>
	What is my site?
</h2>

<p>
	The web is very big and I'm sure you don't need me to tell you that. So I thought that it would be good for my visibility and experience to have a go self-hosting and maintaining a site long term.
	<br>
	<br> Everything you see if completely done by me using <a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a> for the backend and <a href="https://jinja.palletsprojects.com/en/3.0.x/">Jinja</a> templating (built into flask) for the front-end. All of it is self-hosted on my <a href="https://www.raspberrypi.org/">Raspberry Pi</a>.
	<br>
	<br> The server is unfortunately only as reliable as my home internet but it teaches me how to manually deploy my own website.
</p>
{% endblock %}