{% extends "base.html" %}

{% block heading %}
Contact Me
{% endblock %}

{% block page %}
{% set contactIcons=["fas fa-envelope", "fas fa-phone", "fab fa-github", "fab fa-linkedin"] %}
{% set contactInfo=["aryageza@gmail.com", "0434 214 865", "Arithmetic-Overflow", "Arya Gerami Zadegan"] %}
<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>
<ul class="contact-list">
	{% for i in range(4) %}
		<ul class="contact-row">
			<li>
				<i
					class="{{ contactIcons[i] }} contact-icon"
				>
				</i>
			</li>
			<li>{{ contactInfo[i] }}</li>
		</ul>
	{% endfor %}
</ul>

{% endblock %}