@import "../styles/colors";
@import "../styles/media";

.techCard {
    padding: 16px;
    background-color: $dark;
    
    box-shadow: 0 0 2px $primaryHighlight;
    
    > div {
        display: grid;
        grid-template-columns: 48px auto;
        
        svg {
            fill: $primary;
        }

        h3 {
            color: $primaryHighlight;
            margin-bottom: 16px;
        }
    }

    hr {
        grid-column: span 2;
        background-color: $primaryHighlight;
        width: 100%;
        height: 1px;

        margin-bottom: 8px;
    }

    p {
        grid-column: span 2;
        margin-bottom: 8px;
    }
}