body {
	/* colour palette  */
	--eerie-black: #141414;
	--oxford-blue: #14213D;
	--orange-web: #FCA311;
	--platinum: #E5E5E5;
	--ghost-white: #F5F5F5;

	/* backup colour palette  */
	--prussian-blue: #003049;
	--maximum-red: #D62828;
	--tangy-orange: #F77F00;
	--firey-yellow: #FCBF49;
	--lemon-meringue: #eade9f;

	--bg-dark: var(--eerie-black);
	--accent-dark: var(--oxford-blue);
	--accent-light: var(--platinum);
	--text-dark: var(--ghost-white);

	--ghastly-gray: #BBBBBB;

	background-color: var(--platinum);
	color: var(--ghost-white);

	margin: 0;
	padding: 0;

	font-size: 16pt;
	font-family: sans-serif;
}

/* general styling */

h1, h2, h3, h4, h5, h6 {
	color: var(--lemon-meringue);
	margin-top: 0;
	margin-bottom: 0;
}

p {
	margin-bottom: 42px;
}

a {
	color: var(--firey-yellow);
	text-decoration: none;

	display: inline-block;

	transition: 0.2s;
}

a:hover {
	color: var(--lemon-meringue);
	transform:  scale(103%);
}

/* nav stylings */
nav.top-nav {
	background-color: var(--eerie-black);
	color: var(--ghastly-gray);

	font-size: 22pt;
	font-style: italic;
	
	width: 100%;

	position: sticky;
	position: -webkit-sticky;

	margin: 0;
	padding: 0;

	margin-bottom: 0;

	top: 0;
	left: 0;

	z-index: 500;
}

nav.top-nav ul {
	list-style-type:  none;

	display: inline-flex;
	
	align-content: flex-start;
	justify-content: space-between;

	position: relative;
}

nav.top-nav li {
	margin-left: 20px;
	margin-right: 20px;
	height: 16pt;
}

nav.top-nav a {
	text-decoration: none;
	color: inherit;

	display: inline-block;

	transition-duration: 0.25s;
	animation-duration: 0.25s;
}

nav.top-nav a:hover {
	color: var(--platinum);
	transform: scale(1.2);
}

hr.breaker {
	height: 1px;
	color: var(--platinum);
	background-color: var(--platinum);
	margin-bottom: 0;

	box-sizing: content-box;

	border-bottom-width: 6px;
	border-bottom-color: var(--eerie-black);

	border-right-color: var(--eerie-black);
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;

	transform: translateX(-10%);
	width: 90%;
}

/* page header */

.header-wrapper {
	display: flex;
	align-items: center;

	height: 100%;

	background-color: var(--eerie-black);
}

h1.page-header {
	font-size: 28pt;
	background-color: inherit;

	margin: 0;
	margin-top: 24px;
	padding: 16px;
	padding-left: 42px;
}

/* page content */

.content-wrapper {
	display: flex;
	align-items: center;

	margin: 0;
	padding: 0;
}

.content-block {
	background-color: var(--eerie-black);

	align-self: center;

	width: 98%;
	height: 100vh;

	margin: auto;

	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 60px;
	padding-right: 60px;
}

/* contact page */

ul.contact-row {
	list-style-type:  none;

	display: grid;
	
	grid-template-columns: 80px repeat(2, 1fr);
	margin-bottom: 22px;
}

ul.contact-row li {
	align-self: center;
}

ul.contact-row li:first-child {
	margin-right: 52px;
}

ul.contact-row li:nth-child(2) {
	font-size: 18pt;
}

.contact-icon {
	color: var(--platinum);
	transform: scale(2);

	padding: 4px;
	margin: 4px;
}

.fa-phone {
	transform: scale(2) scaleX(-1);
}