{% extends "base.html" %}

{% block heading %}
{% if project.id != "0" %}
{% include "projects/WIP.html" %}
{% else %}

{{project.name}}

{% endif %}
{% endblock %}

{% block page %}
{% if project.id != "0" %}
{% else %}
<div class="project-post-wrapper">
	<div class="vid-wrapper">
		<video draggable="false" playsinline="" autoplay="" loop="" class="">
			<source src="{{url_for('static', filename=project.vidsrc)}}.webm">
			<source src="{{url_for('static', filename=project.vidsrc)}}.mov">
		</video>
	</div>

	<div class="project-description">
		{% include project.description_url %}
	</div>
</div>
{% endif %}
{% endblock %}