@import "../../styles/colors";
@import "../../styles/media";

$transition-speed: 0.2s;

.recentPosts {
    margin: 0;
    padding: 0;
    list-style: none;
}

a.postEntry {
    background-color: $grey1;
    padding: 12px;

    display: block;
    color: white;

    box-shadow: 0 0 2px $primaryHighlight;
    transition: all $transition-speed;

    &:hover {
        filter: brightness(120%);
        box-shadow: 0 0 6px $primaryHighlight;

        z-index: 0;
    }

    h4 {
        margin-bottom: 0.25rem;
        color: $primaryHighlight;
    }

    p {
        margin-bottom: 0.25rem;
        line-height: 1rem;
    }

    .timeToRead {
        text-align: right;
        
        svg {
            margin-right: 0.25rem;
        }

        margin-bottom: 0;
    }
}