@import "../../components/styles/colors";
@import "../../components/styles/media";

ul.contact-list {
    list-style: none;
    margin-top: 100px;

    @include mobile {
        margin-top: 0;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;

        padding: 0.5em 0;
        margin: 0;

        align-items: center;

        li {
            margin: 0;
            font-weight: bold;

            &:first-child {
                width: 4em;
            }

            svg {
                fill: $primaryHighlight;
            }
        }
    }
}