$cream: #fff7db;
$tan: #eee0b1;
$brown: #d7c792;
$dark-brown: #cab87a;
$darker-brown: #a8934d;

$pink: #edc1b1;
$red: #c62368;
$green: #ddedb1;

$white: #ffffff;
$black: #121212;
$black1: #202020;
$grey1: #2b2b2b;
$grey2: #444444;