$cream: #fff7db;
$tan: #eee0b1;
$brown: #d7c792;
$dark-brown: #cab87a;
$darker-brown: #a8934d;

$pink: #EEB0DD;
$purple: #B6B0EE;
$red: #F42272;
$green: #B0EEC0;
$lime: #bfff00;
$blue: #A3E7FC;

$white: #ffffff;
$black: #121212; // onyx: 39393A
$black1: #202020;
$grey1: #2b2b2b;
$grey2: #444444;
$grey3: #525252;