$white: #ffffff;
$background: #0E141B;
$dark: #151F28;
$dark2: #1B2936;
$dark3: #213140;
$dark4: #293D4F;
$primary: #FFE100;
$secondary: #FF36A8;

$textHighlight: #62FF00;
$primaryHighlight: #FFE626;

$error: #F42272;
$accept: #BFFF00;

$tag1: #00C3FF;
$tag2: #FF00B9;
$tag3: #1900FF;
$tag4: $error;
$tag5: $accept;
