@import "colors";
@import "media";

nav {
    position: sticky;
    top: 0;
    background-color: $background;
    z-index: 1;

    &.dropShadow {
        box-shadow: 0px -2px 6px 0px $white;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 16px;
        margin: 0;

        li {
            padding-right: 42px;
            margin: 0;
            width: max-content;
            height: max-content;

            &:first-child {
                padding-left: 0;
                padding-right: 32px;
                filter: drop-shadow(0 0 0 $primaryHighlight);
                transition: 500ms;
                height: 32px;

                a {
                    width: max-content;
                    height: 32px;
                    display: inline-block;
                }

                img:hover {
                    filter: drop-shadow(0 0 6px $primaryHighlight);
                    transition: 500ms;
                }
            }
        }
    }
}