@import "colors";
@import "media";

.nav-header{
    width: 100%;
    background-color: $background;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 64px;
}

nav {
    position: sticky;
    height: 20px;
    top: 0;
    height: max-content;
    background-color: $background;
    z-index: 1;

    &.dropShadow {
        box-shadow: 0px -2px 6px 0px $white;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 16px;
        margin: 0;

        @include mobile {
            height: 0;
            padding: 0;
            top: 64px;
            left: 0;
            right: 0;
            overflow: hidden;
            transition: 800ms ease-in-out;
            display: block;
            background: $background;
            position: fixed;
            flex-direction: column;

            &.open {
                height: 100%;
            }
        }

        li {
            padding-right: 42px;
            margin: 0;
            width: max-content;
            height: max-content;

            &:first-child {
                padding-left: 0;
                padding-right: 32px;
                filter: drop-shadow(0 0 0 $primaryHighlight);
                transition: 500ms;
                height: 32px;

                a {
                    width: max-content;
                    height: 32px;
                    display: inline-block;
                }

                img:hover {
                    filter: drop-shadow(0 0 6px $primaryHighlight);
                    transition: 500ms;
                }
            }
        }
    }
}