@import "colors";

$gridgap: 32px;

.projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, max-content);

    column-gap: $gridgap;
    row-gap: $gridgap;

    a.projectCard {
        background-color: white;
        display: grid;
        height: 100%;
        width: 100%;
    
        text-decoration: none;
        color: inherit;
    
        > div {
            background-color: $grey2;
            height: 100%;
            width: 100%;
        }
    }
}
