@import "colors";
@import "media";

$gridgap: 32px;
$card-padding: 12px;
$mobile-card-padding: 4px;
$transition-speed: 0.5s;

.projectGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, max-content);

    column-gap: $gridgap;
    row-gap: $gridgap;

    font-size: 14pt;

    @include mobile {
        grid-template-columns: 1fr;
    }
    
    a.projectCard {
        display: grid;
        min-height: 100%;
        width: 100%;
        
        border-radius: 16px;
        border-collapse: separate;
        
        text-decoration: none;
        color: inherit;

        transition: transform $transition-speed;

        background-image: url("../../images/waves/project-card-wave.svg");
        background-repeat: no-repeat;
        background-size: cover;

        background-color: $cream;
    
        &:hover {
            transition: transform $transition-speed;
            transform: scale(1.03);

            @include mobile {
                z-index: 0;
            }
        }

        > div {
            height: 100%;
            width: 100%;

            color: $black;

            > video {
                display: block;
                margin-left: auto;
                margin-right: auto;

                border-radius: 24px;
                
                width: 100%;
                height: auto;

                padding: $card-padding;

                @include mobile {
                    padding: $mobile-card-padding;
                }
            }

            > h2 {
                padding: $card-padding;
                padding-bottom: 0;
                padding-top: 0;
                margin: 0;
                color: $black !important;

                color: $tan;

                text-decoration: underline;
                text-decoration-thickness: 2px;

                @include mobile {
                    padding: $mobile-card-padding;
                }
            }

            > p {
                padding: $card-padding;
                margin: 0;

                @include mobile {
                    padding: $mobile-card-padding;
                }
            }
        }
    }
}
