body {
    background-color: #121212;
}

nav {
    position: sticky;
    top: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    z-index: 999;

    // color: #edc1b1;
    // color: #eee0b1;
    // color: #ddedb1;

    background-color: #eee0b1;

    height: 5em;

    margin: 0;
    margin-bottom: 1.0em;

    padding-top: 0.5em;
    padding-bottom: 0.5em;

    ol {
        display: flex;
        list-style: none;
        margin: 0;

        height: 100%;
        
        li {
            display:flex;
            align-items: center;

            height: 100%;

            padding-right: 0;
            width: 5em;

            $scale-grow: 1.03;
            $transition-duration: 0.15s;

            margin: 0;

            font-size: 1.2rem;

            * {
                display: flex;
                align-self: center;
            }

            a {
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
                Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
                // font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                text-rendering: optimizeLegibility;
                line-height: 0.8;
                
                text-decoration: none;
                
                transform: rotate(0) scale(1.0);
                transition: transform $transition-duration, color $transition-duration;
                
                color: hsla(0, 0%, 0%, 0.6);
            }

            a:hover {
                transform: translateY(-5%) scale($scale-grow);
                color: hsla(0, 0%, 0%, 0.9);
                transition: transform $transition-duration, color $transition-duration;
            }
        }

        li:first-child {
            margin-left: 1.5em;
            margin-right: 1.5em;

            width: 9em;

            a {
                // text-decoration: bold;
                font-weight: bold;
                transform: scale(1.2);
            }

            a:hover {
                transform: translateY(-5%) scale(1.25);
            }
        }

        li:nth-child(2) {
            width: 1.2em;

            div {
                height: 100%;
                
                border-left: 2px #121212 solid;
                margin-right: 0;
            }
        }
    }
}