@import "/src/components/styles/colors";

.project-post {
    h2 {
        color: $cream;
        margin-top: 2em;
        margin-bottom: 0.25em;
    }

    h3 {
        margin-bottom: 0.25em;
    }

    h2 + h3 {
        margin-top: 1em;
    }

    h3, h4, h5, h6 {
        color: $tan;
    }

    h4 {
        margin-bottom: 0.25em;
        font-size: 16pt;
    }

    .project-video {
        max-width: 800px;
        width: 100%;
        width: 100%;
        height: auto;
    
        display: block;
    
        margin: 0 auto;
        margin-bottom: 2em;
        border: 4px solid $grey2;
    
        background-image: url("/src/images/waves/project-card-wave.svg");
        background-position: top center;
        background-size: contain;
    }

    p {
        line-height: 2rem;
    }
}