<!DOCTYPE html>
<html>
{% include "head.html" %}
<body>
	{% include "nav.html" %}

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class="flash">
				{% for category, message in messages %}
					<li class="{{ category }}">
						{{ message }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

	<div class="header-wrapper">
		<h1 class="page-header">
			{% block heading %} {% endblock %}
		</h1>
	</div>

	<div class="content-wrapper">
		<div class="content-block">
			{% block page %} {% endblock %}
		</div>
	</div>

	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>