{% extends "base.html" %}

{% block heading %}
Welcome To My Site
{% endblock %}

{% block page %}
<p>
	Hello, I'm Arya, and welcome to my corner of the internet.
</p>

<p>
	This is just somewhere I add to when I'm bored and want to document projects I think are interesting.
</p>
<p>
	For those who aren't programmers, fret not as I intend to explain things conceptually, with little to no coding involved or required.
</p>
<p>
	However, for those who are programmers and want to build any of these for themselves, I provide enough detail about each project to do so without much struggle.
</p>
<p>
	If you're ever curious want to check the source code it's mostly available on my Github.
</p>

{% include "index/gallery.html" %}
{% endblock %}